alembic==1.7.6
APScheduler==3.8.1
attrs==21.4.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==7.1.2
clickclick==20.10.2
connexion==2.9.0
distlib==0.3.4
filelock==3.4.2
Flask==1.1.4
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.10.1
importlib-resources==5.4.0
inflection==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.0.0
Mako==1.1.6
MarkupSafe==2.0.1
openapi-schema-validator==0.2.1
openapi-spec-validator==0.3.1
platformdirs==2.4.1
protobuf==3.17.3
psycopg2-binary==2.9.3
pycparser==2.21
pyrsistent==0.18.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.4.1
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.31
swagger-ui-bundle==0.0.9
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
virtualenv==20.13.0
Werkzeug==1.0.1
zipp==3.7.0
